/* Navbar */
.header {
  background-color: #7636D2;
  display: flex;
  align-items: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
}
a,
button {
  color: white;
}
.image-clickable {
  margin-right: auto;
}
.logo {
  height: 4.2rem;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 1.25rem;
}
.nav-links li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: all 0.5s ease 0s;
}
.nav-links li a:hover {
  color: rgba(0, 173, 181, 0.8);
}
button {
  background: #7636D2;
  cursor: pointer;
  padding: 9px 20px;
  border: none;
  justify-self: center;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: all 0.5s ease 0s;
  margin-left: 20px;
}
button:hover {
  background: rgba(0, 173, 181, 0.8);
}
/* Tittle i caixa */
.tittle {
    max-width: 820px;
    margin: 0px auto;
    margin-top: 50px;
}   
.container {
    max-width: 820px;
    margin: 0px auto;
    margin-top: 50px;
}
.comment {
    float: left;
    width: 100%;
    height: auto;
}
.commenter {
    float: left;
}
.commenter img {
    width: 35px;
    height: 35px;
}
.comment-text-area {
    float: left;
    width: 100%;
    height: auto;
}
.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}
