<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>impressores Canòdrom</title>
        
    <!-- Estils CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
    </head>
        <body>
          <div class="answer">
        <header class="header">
            <span class="image-clickable">
              <a href="https://canodrom.barcelona">
		            <img src="{{url_for('static', filename='CANODROM-CAT-blanc.png')}}" alt="main-logo" class="logo" />
              </a>
            </span>
            <nav>
              <ul class="nav-links">
                <li><a href="#">Sobre</a></li>
              </ul>
            </nav>
            <a href="#"><button>Contacta</button></a>
          </header>
        <div class="tittle">
        <h1></h1>
        </div>
        
        <div class="container">
            <div class="comment">
                <form action="{{ url_for("answer")}}" method="post">
                <h2><label for="lastname">La teva resposta s'ha imprès: {{ resposta }}</label></h2>
                  <form> 
                    <button type="submit" onclick="window.history.go(-1); return false;" style="cursor: pointer;">Torna a imprimir</button>
                  </form>
                </form>
        
            </div>
        </div>
        </div>
        </body>
        

</html>
