<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>impressores Canòdrom</title>
        
    <!-- Estils CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
    </head>

        <body>
          <div class="thermal13">
        <header class="header">
            <span class="image-clickable">
              <a href="https://canodrom.barcelona">
		          <img src="{{url_for('static', filename='CANODROM-CAT-blanc.png')}}" alt="main-logo" class="logo" />
              </a>
            </span>
            <nav>
              <ul class="nav-links">
                <li><a href="#">Sobre</a></li>
              </ul>
            </nav>
            <a href="#"><button>Contacta</button></a>
          </header>
        <div class="tittle">
        <h1></h1>
        </div>
        
        <div class="container">
            <div class="comment">
        
                <form action="{{ url_for("thermal13")}}" method="post">
                <h3>Un any per endavant!</h3><br><br><br>
                <h1><label for="lastname">Sabies que al Canòdrom ens trobem amb les veïnes per compartir què ens agradaria que passés aquí? Més concerts, més cinema, més tallers d’adolescents i pantalles..</label></h1>
                <h1><label for="lastname">Comparteix la teva llista de desitjos i necessitats!</label></h1<br><br>
                <textarea class="textinput" placeholder="Comentari" id="lname" name="lname"></textarea><br><br>
                <br><br><button type="submit">Imprimeix resposta</button>
        
            </div>
        </div>
        </div>
        </body>
        

</html>
